{# @var catalogPromotions \inklabs\kommerce\EntityDTO\CatalogPromotionDTO[] #}
{# @var pagination \inklabs\kommerce\EntityDTO\PaginationDTO #}
{# @var queryString string #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Catalog Promotion{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <a href="{{ routeUrl('admin.catalog-promotion.new') }}"
                       class="button success">
                        <i class="fa fa-plus-circle"></i> New Catalog Promotion
                    </a>
                </div>

                <h1>Catalog Promotions</h1>
                <form action="{{ routeUrl('admin.catalog-promotion') }}"
                      method="get"
                      class="form-search">
                    {% include '@theme/helper/search-bar.twig' with {'placeholder': 'Search Name', 'queryString': queryString} only %}
                </form>

                {{ paginate.detailed(pagination) }}
                {% include '@theme/admin/promotion/catalog-promotion/parts/catalog-promotion-list.twig' with {'catalogPromotions': catalogPromotions} only %}
                {{ paginate.detailed(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
