{% set navigation = [
    {
        'name': 'Store',
        'url' : routeUrl('admin.settings.store')
    },
    {
        'name': 'Shipping',
        'url' : routeUrl('admin.settings.store.shipping')
    },
    {
        'name': 'Payments',
        'url' : routeUrl('admin.settings.store.payments')
    },
] %}

<div class="row">
    <div class="col-sm-12">
        {% include '@admin/helper/tab-navigation.twig' with {'navigation': navigation} %}
    </div>
</div>
