{# @var order \inklabs\kommerce\EntityDTO\OrderDTO #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Invoice - Order #{{ order.referenceNumber }}{% endblock %}

{% block content %}
    <div class="container">
        {% include '@theme/admin/order/order-header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                <h2>TODO</h2>
            </div>
        </div>
    </div>
{% endblock %}
