{# @var inventoryTransactions \inklabs\kommerce\EntityDTO\InventoryTransactionDTO[] #}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Memo</th>
            <th>Type</th>
            {% block thead %}{% endblock %}
        </tr>
    </thead>
    <tbody>
        {% for inventoryTransaction in inventoryTransactions %}
            <tr>
                <td>{% include '@admin/warehouse/inventory-location/parts/inventory-transaction-quantity.twig' %}</td>
                <td>{{ inventoryTransaction.memo }}</td>
                <td>{% include '@admin/warehouse/inventory-location/parts/inventory-transaction-type.twig' %}</td>
                {% block tbody %}{% endblock %}
            </tr>
        {% else %}
            <tr>
                <td colspan="100%">
                    <span class="text-muted">No inventory transactions.</span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
