{# @var inventoryTransaction \inklabs\kommerce\EntityDTO\InventoryTransactionDTO #}
{% if inventoryTransaction.quantity > 0 %}
    <span class="label label-success"><i class="fa fa-arrow-up"></i></span>
{% else %}
    <span class="label label-danger"><i class="fa fa-arrow-down"></i></span>
{% endif %}
{{ inventoryTransaction.quantity }}
