{# @var flashMessages array #}
{% if flashMessages is not empty %}
    <div id="messages">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    {% for type, messages in flashMessages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>

                                {% if type == 'success' %}
                                    <i class="fa fa-ok-sign"></i>
                                {% elseif type == 'info' %}
                                    <i class="fa fa-info-sign"></i>
                                {% elseif type == 'warning' %}
                                    <i class="fa fa-warning-sign"></i>
                                {% elseif type == 'danger' %}
                                    <i class="fa fa-exclamation-sign"></i>
                                {% endif %}

                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
