{% for product in products %}
    <div>
        <h3>{{ product.name }}</h3>

        {% if product.defaultImage is empty %}
            <img src="//placehold.it/100x100&text=FallbackImg">
        {% else %}
            <img src="{{ productImageUrl(product) }}">
        {% endif %}

        <a href="{{ productUrl(product) }}">{{ productUrl(product) }}</a>

        {% include '@theme/helper/rating-stars.twig' with {'rating': product.rating } only %}

        {% if product.isInStock %}
            <div class="availability">
                <span class="out-of-stock">Out of Stock</span>
            </div>
        {% elseif product.isPriceVisible %}
            {% include '@theme/helper/price.twig' with {'price': product.price } only %}
        {% endif %}

        <div style="clear: both;"></div>
    </div>
{% endfor %}
