<form  action="{{ routeUrl('search') }}"
       method="get"
       class="navbar-form navbar-right"
       role="search">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search" value="{{ searchQuery }}">
        <div class="input-group-btn">
            <button type="submit" class="button secondary search-button">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>
