<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/conditions">Conditions of Use</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
        </ul>
    </div>
</div>
