<nav class="top-bar">
    <div>
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="#"><strong>{{ SITE_NAME | default('Kommerce') }}</strong></a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
            </ul>
        </div>
    </div>
</nav>
