{# @var cartPriceRule \inklabs\kommerce\EntityDTO\CartPriceRuleDTO #}

{% set navigation = [
    {
        'name': 'Edit',
        'url' : routeUrl('admin.cart-price-rule.edit', {'cartPriceRuleId': cartPriceRule.id.hex})
    },
    {
        'name': 'Items <span class="text-muted">(' ~ cartPriceRule.cartPriceRuleItems|length ~ ')</span>',
        'url' : routeUrl('admin.cart-price-rule.items', {'cartPriceRuleId': cartPriceRule.id.hex})
    },
    {
        'name': 'Discounts <span class="text-muted">(' ~ cartPriceRule.cartPriceRuleDiscounts|length ~ ')</span>',
        'url' : routeUrl('admin.cart-price-rule.discounts', {'cartPriceRuleId': cartPriceRule.id.hex})
    }
] %}

<div class="row">
    <div class="col-sm-12">
        {% include '@theme/helper/tab-navigation.twig' with {'navigation': navigation} %}
    </div>
</div>
