{% if breadcrumbs is defined %}
    {% set currentPath = currentPath() %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    {% for name, path in breadcrumbs %}
                        {% if currentPath == path %}
                            <li class="active">{{ name }}</li>
                        {% else %}
                            {% if path is empty %}
                                <li>{{ name }}</li>
                            {% else %}
                                <li>
                                    <a href="/{{ path }}">{{ name }}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endif %}
