<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="/conditions">Conditions of Use</a>
                | <a href="/privacy">Privacy</a>
                {# TODO: <?=SITE_COPY?> #}
            </div>
        </div>
    </div>
    {# TODO:
        <?php if (Kommerce::isProfilingEnabled()) { ?>
        <?=View::factory('profiler')?>
        <?php } ?>
    #}
</div>
