{% for product in products %}
    <a href="{{ productUrl(product) }}">
        <div class="media-object">
            <div class="media-object-section">
                <div class="thumbnail">
                    {% if product.defaultImage is empty %}
                        <img src="//placehold.it/100x100">
                    {% else %}
                        <img src="{{ product.defaultImage }}">
                    {% endif %}
                </div>
            </div>
            <div class="media-object-section">
                <h4>{{ product.name }}</h4>
                {% if product.isInStock %}
                    <p>Out of Stock</p>
                {% elseif product.isPriceVisible %}
                    <p>{{ product.price.quantityPrice | displayPrice }}</p>
                {% endif %}
            </div>
        </div>
    </a>
{% endfor %}
