{# @var shipmentTrackers \inklabs\kommerce\EntityDTO\ShipmentTrackerDTO[] #}
{# @var pagination \inklabs\kommerce\EntityDTO\PaginationDTO #}
{# @var queryString string #}
{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}Ad Hoc Shipments{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href="{{ routeUrl('admin.tools.ad-hoc-shipment.new') }}"
                       class="btn btn-success btn-xs">
                        <i class="fa fa-plus-circle"></i> New Ad Hoc Shipment
                    </a>
                </div>

                <h1>Ad Hoc Shipments</h1>
                <form action="{{ routeUrl('admin.tools.ad-hoc-shipment') }}"
                      method="get"
                      class="form-search">
                    {% include '@admin/helper/search-bar.twig' with {'placeholder': 'Search Name', 'queryString': queryString} only %}
                </form>

                {% include '@store/helper/pagination/pagination-detailed.twig' with {'pagination': pagination} only %}
                {% embed '@admin/tools/ad-hoc-shipment/parts/shipment-tracker-list.twig' with {'shipmentTrackers': shipmentTrackers} only %}
                    {% block thead %}
                        <th>Actions</th>
                    {% endblock %}
                    {% block tbody %}
                        <td>
                            <a href="{{ routeUrl('admin.tools.ad-hoc-shipment.view', {'shipmentTrackerId': shipmentTracker.id.hex}) }}" class="btn btn-default btn-xs">
                                View
                            </a>
                        </td>
                    {% endblock %}
                {% endembed %}
                {% include '@store/helper/pagination/pagination-detailed.twig' with {'pagination': pagination} only %}
            </div>
        </div>
    </div>
{% endblock %}
