<!DOCTYPE html>
<html lang="en">
<head>
    {% include '@theme/layout/base/head.twig' %}
</head>
<body id="kc-foundation">

    <header id="kc-topbar">
        {% include '@theme/layout/base/topbar.twig' %}
    </header>

    <main id="kc-container">

        <section id="kc-content">
            {% block content %}{% endblock %}
        </section>

        <footer id="kc-footer">
            {% include '@theme/layout/base/footer.twig' %}
        </footer>
    </main>

    <script type="text/javascript" src="/assets/app.js"></script>
</body>
</html>
