{{ form.hidden('type', 'zip5TaxRate') }}
<div class="form-group col-sm-4">
    <label for="taxRate-{{ taxRate.id.hex }}-zip5" class="control-label">Zipcode</label>
    <input type="text"
           id="taxRate-{{ taxRate.id.hex }}-zip5"
           name="taxRate[zip5]"
           value="{{ taxRate.zip5 }}"
           class="form-control"
           maxlength="5"
           required=""/>
</div>
{% include '@admin/settings/sales-tax/parts/tax-rate-input-fields.twig' %}
