<div class="row">
    <div class="column">
        <ul class="zk-tabs tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#zk-product-tab-reviews" aria-selected="true">Reviews</a></li>
            <li class="tabs-title"><a href="#zk-product-tab-related">Similar Products</a></li>
            <li class="tabs-title"><a href="#zk-product-tab-tags">Product Tags</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="zk-product-tab-related">
                {% include '@store/product/parts/tab-related.twig' with { 'relatedProducts': relatedProducts } %}
            </div>

            <div class="tabs-panel" id="zk-product-tab-tags">
                {% include '@store/product/parts/tab-tags.twig' with { 'tags': product.tags } %}
            </div>

            <div class="tabs-panel" id="zk-product-tab-reviews">
                {% include '@store/product/parts/tab-reviews.twig' %}
            </div>
        </div>
    </div>
</div>
