{# @var textOption \inklabs\kommerce\EntityDTO\TextOptionDTO #}
{# @var selectedOptions array #}

{% if textOption.type.isText %}
    <label for="textOption_{{ textOption.id.getHex() }}">
        {{ textOption.name }}
        <input type="text"
            name="textOption[{{ textOption.id.getHex() }}]"
            id="textOption_{{ textOption.id.getHex() }}">
    </label>
{% endif %}
