{# @var tag \inklabs\kommerce\EntityDTO\TagDTO #}

{% set navigation = [
    {
        'name': 'Edit',
        'url' : routeUrl('admin.tag.edit', {'tagId': tag.id.hex})
    },
    {
        'name': 'Images <span class="text-muted">(' ~ tag.images|length ~ ')</span>',
        'url' : routeUrl('admin.tag.images', {'tagId': tag.id.hex})
    },
    {
        'name': 'Options <span class="text-muted">(' ~ (tag.options|length + tag.textOptions|length) ~ ')</span>',
        'url' : routeUrl('admin.tag.options', {'tagId': tag.id.hex})
    },
    {
        'name': 'Products <span class="text-muted">(' ~ tag.products|length ~ ')</span>',
        'url' : routeUrl('admin.tag.products', {'tagId': tag.id.hex})
    }
] %}

<div class="row">
    <div class="col-sm-12">
        {% include '@admin/helper/tab-navigation.twig' with {'navigation': navigation} %}
    </div>
</div>
