{# @var products \inklabs\kommerce\EntityDTO\ProductDTO[] #}
{# @var pagination \inklabs\kommerce\EntityDTO\PaginationDTO #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Settings{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Settings</h1>
                <h2>TODO</h2>
            </div>
        </div>
    </div>
{% endblock %}
