{# @var product \inklabs\kommerce\EntityDTO\ProductDTO #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Product Options - {{ product.name }}{% endblock %}

{% block content %}
    <div class="container">

        {% include '@theme/admin/product/parts/header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                {% include '@theme/admin/product/parts/option-list.twig' with {'optionProducts': product.optionProducts} only %}

                <hr />
                <h2>Tag Options:</h2>

                {% include '@theme/admin/tag/parts/option-list.twig' with {'options': product.options} only %}
                {% include '@theme/admin/tag/parts/text-option-list.twig' with {'textOptions': product.textOptions} only %}
            </div>
        </div>
    </div>
{% endblock %}
