{# @var attribute \inklabs\kommerce\EntityDTO\AttributeDTO #}

{% set navigation = [
    {
        'name': 'Edit',
        'url' : routeUrl('admin.attribute.edit', {'attributeId': attribute.id.hex})
    },
    {
        'name': 'Attribute Values <span class="text-muted">(' ~ attribute.attributeValues|length ~ ')</span>',
        'url' : routeUrl('admin.attribute.attribute-values', {'attributeId': attribute.id.hex})
    },
    {
        'name': 'Product Attributes <span class="text-muted">(' ~ attribute.productAttributes|length ~ ')</span>',
        'url' : routeUrl('admin.attribute.product-attributes', {'attributeId': attribute.id.hex})
    }
] %}

<div class="row">
    <div class="col-sm-12">
        {% include '@theme/helper/tab-navigation.twig' with {'navigation': navigation} %}
    </div>
</div>
