<div id="footer">
    <div class="container">
        <div class="row">
            <div class="column" id="checkout-footer">
                <a href="/conditions">Conditions of Use</a>
                | <a href="/privacy">Privacy</a>
                {# TODO: <?=SITE_COPY?> #}
            </div>
        </div>
    </div>
</div>
