<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">{{ SITE_NAME }} - Secure Checkout</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="/cart">Cart</a></li>
        </ul>
    </div>
</div>
