{# @var flashMessages array #}
{% if flashMessages is not empty %}
    {% for type, messages in flashMessages %}
        {% for message in messages %}
            <div class="{{ type }} callout" data-closable="slide-out-right">
                <h5>This a friendly message.</h5>
                <p>{{ message }}.</p>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
