<div class="row column">
    <div id="checkout-footer">
        <a href="{{ routeUrl('page.terms') }}">Terms of Use</a>
        | <a href="{{ routeUrl('page.privacy') }}">Privacy</a>
        {# @TODO: <?=SITE_COPY?> #}
    </div>
</div>
