<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% if pageDescription is not empty %}
    <meta name="description" content="{{ pageDescription }}">
{% endif %}
<title>{% if pageTitle is empty %}Zen Kommerce{% else %}{{ pageTitle }} - Zen Kommerce{% endif %}</title>
<link rel="icon" href="/favicon.ico" />
<link rel="shortcut icon" href="/favicon.ico" />
{% if pageCanonicalUrl is not empty %}
    <link rel="canonical" href="{{ pageCanonicalUrl }}" />
{% endif %}

<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{ routeUrl('style.serve') }}?p=main.scss&formatter=compact">
