.login-forgot-password { font-size: 12px; }
#accepted-cards { text-align: right; padding-top: 10px; }
.cart-qty, .cart-unit-price { font-size: 12px; }

#checkout .form-group { padding: 0 5px !important; }
.form-group label { font-weight: normal; }


#checkout-footer {
  margin-top: 50px;
  padding: 5px 0;
  border-top: 1px solid #DEDEDE;
  font-family: futura-pt, sans-serif;
  font-size: 12px;
  color: #666;
  text-align: center;
}
