{# @var cart \inklabs\kommerce\EntityDTO\CartDTO #}
<table class="totals-table table">
    <tbody>
    <tr class="cart-subtotal">
        <td>Subtotal:</td>
        <td class="text-right">{{ cart.cartTotal.subtotal | displayPrice }}</td>
    </tr>
    {% if cart.shipmentRate.deliverMethod is null %}
        <tr>
            <td colspan="100%">
                Shipping:
                {# TODO:
                    <?=View::factory('cart/modify_zipcode_button')->set('extraClass', 'pull-right')->render()?>
                #}
            </td>
        </tr>
    {% elseif cart.cartTotal.shipping == 0 %}
        <tr class="cart-free-shipping">
            <td><span data-toggle="tooltip" data-original-title="<?=Kommerce::display_price($cart->cartTotal->shipping)?> Value">Shipping:</span></td>
            <td class="text-right">
                FREE
            </td>
        </tr>
    {% elseif cart.cartTotal.shipping > 0 %}
        {# TODO:
        <?php
                    $shippingName = $cart->shippingAddress->zip5;
        if ( ! empty($cart->shippingAddress->state)) {
        $shippingName .= '-' . $cart->shippingAddress->state;
        }
        ?>
        <tr>
            <td>
                        <span data-toggle="tooltip" data-original-title="<?=$shippingName?>">
                            Shipping &amp; Handling:
                            <span class="text-muted">(<?=HTML::chars($cart->shipmentRate->deliveryMethod->name)?>)</span>
                        </span>
            </td>
            <td class="text-right">
                <?=Kommerce::display_price($cart->cartTotal->shipping)?>
            </td>
        </tr>
        #}
    {% endif %}
    {# TODO:
        <?php if (! empty($cart->cartTotal->coupons) || ! empty($cart->cartTotal->cartPriceRules)) { ?>
        <tr class="cart-discounts">
            <td>
                Discounts
                <div class="container-fluid">
                    <?php foreach ($cart->cartTotal->cartPriceRules as $cartPriceRule) { ?>
                    <div class="row">
                        <div class="col-sm-12">
                            &nbsp;<i class="glyphicon glyphicon-minus"></i>&nbsp;
                            <?=$cartPriceRule->name?>
                        </div>
                    </div>
                    <?php } ?>

                    <?php foreach ($cart->cartTotal->coupons as $coupon) { ?>
                    <div class="row">
                        <div class="col-sm-10">
                            <?=Form::open('cart/remove_coupon/' . $coupon->id->getHex(), [
                            'method' => 'POST',
                            'role' => 'form',
                            ])?>
                            <?=Form::csrf()?>

                            <button type="submit" class="btn btn-link btn-xs">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <?=$coupon->name?>

                            <?=Form::close()?>
                        </div>
                    </div>
                    <?php } ?>
                </div>
            </td>
            <td class="text-right">
                (<?=Kommerce::display_price($cart->cartTotal->discount)?>)
            </td>
        </tr>
        <?php } ?>
    #}
    {% if cart.cartTotal.tax is not empty %}
        <tr>
            <td>Tax:</td>
            <td class="text-right">
                {{ cart.cartTotal.tax | displayPrice }}
            </td>
        </tr>
    {% endif %}
    <tr class="cart-total-price info">
        <td>Total:</td>
        <td class="text-right price-small">{{ cart.cartTotal.total | displayPrice }}</td>
    </tr>
    </tbody>
</table>
