{# @var cart \inklabs\kommerce\EntityDTO\CartDTO #}
<table>
    <tbody>
    <tr>
        <td>Subtotal:</td>
        <td>{{ cart.cartTotal.subtotal | displayPrice }}</td>
    </tr>

    {% if cart.shipmentRate.deliverMethod is null %}
        <tr>
            <td>Shipping:</td>
            <td></td>
        </tr>
    {% elseif cart.cartTotal.shipping == 0 %}
        <tr>
            <td>Shipping:</td>
            <td>FREE</td>
        </tr>
    {% elseif cart.cartTotal.shipping > 0 %}

    {% endif %}

    {% if cart.cartTotal.tax is not empty %}
        <tr>
            <td>Tax:</td>
            <td>
                {{ cart.cartTotal.tax | displayPrice }}
            </td>
        </tr>
    {% endif %}

    <tr>
        <td>Total:</td>
        <td>{{ cart.cartTotal.total | displayPrice }}</td>
    </tr>
    </tbody>
</table>
