{# @var option \inklabs\kommerce\EntityDTO\OptionDTO #}

{% set navigation = [
    {
        'name': 'Edit',
        'url' : routeUrl('admin.option.edit', {'optionId': option.id.hex})
    },
    {
        'name': 'Option Values <span class="text-muted">(' ~ option.optionValues|length ~ ')</span>',
        'url' : routeUrl('admin.option.values', {'optionId': option.id.hex})
    },
    {
        'name': 'Option Products <span class="text-muted">(' ~ option.optionProducts|length ~ ')</span>',
        'url' : routeUrl('admin.option.option-products', {'optionId': option.id.hex})
    },
    {
        'name': 'Tags <span class="text-muted">(' ~ option.tags|length ~ ')</span>',
        'url' : routeUrl('admin.option.tags', {'optionId': option.id.hex})
    }
] %}

<div class="row">
    <div class="col-sm-12">
        {% include '@theme/helper/tab-navigation.twig' with {'navigation': navigation} %}
    </div>
</div>
