{# @var placeholder string #}
{# @var queryString string #}

<div class="input-group col-sm-4">
    <input type="text"
           name="q"
           value="{{ queryString }}"
           placeholder="{{ placeholder }}"
           class="form-control typeahead">

    <div class="input-group-btn">
        <button type="submit" class="btn btn-default">
            <i class="fa fa-search"></i> Search
        </button>
    </div>
</div>
