{% for product in products %}
    <div class="product-container column column-block">

        <a href="{{ productUrl(product) }}">
            <img src="{{ productImageUrl(product) }}">
            <div class="product-name">{{ product.name }}</div>
        </a>

        {% include '@store/helper/rating-stars.twig' with {'rating': product.rating } only %}

        {% if not product.isInStock %}
            <div class="availability">
                <span class="out-of-stock">Out of Stock</span>
            </div>
        {% elseif product.isPriceVisible %}
            {% include '@store/helper/price.twig' with {'price': product.price } only %}
        {% endif %}
    </div>
{% endfor %}
