{# @var optionProducts \inklabs\kommerce\EntityDTO\OptionProductDTO[] #}
<table class="table stack">
    <thead>
        <tr>
            {% include '@admin/product/parts/product-list-head.twig' %}
            <th>Sort Order</th>
            {% block thead %}{% endblock %}
        </tr>
    </thead>
    <tbody>
        {% for optionProduct in optionProducts %}
            <tr>
                {% include '@admin/product/parts/product-list-body.twig' with {'product': optionProduct.product} %}
                <td>{{ optionProduct.sortOrder }}</td>
                {% block tbody %}{% endblock %}
            </tr>
        {% else %}
            <tr>
                <td colspan="100%">
                    <span class="text-muted">No option products.</span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
