{% for product in products %}
    <div class="product-container-small {% if lg_slim %}col-md-12{% endif %} col-sm-3 col-xs-6">
        <a href="{{ productUrl(product) }}">
            <img src="{{ productImageUrl(product) }}">
        </a>
        <a href="{{ productUrl(product) }}">
            <div class="product-name">{{ product.name }}</div>
        </a>

        {% embed '@theme/helper/rating-stars.twig' with {'rating': product.rating } only %}{% endembed %}

        {% if not product.isInStock %}
            <div class="availability">
                <span class="out-of-stock">Out of Stock</span>
            </div>
        {% elseif product.isPriceVisible %}
            {% embed '@theme/helper/price.twig' with {'price': product.price } only %}{% endembed %}
        {% endif %}

        <div class="clearfix"></div>
    </div>
{% endfor %}
