<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'layout/parts/head.twig' %}
</head>
<body>
{% include 'layout/parts/topbar-checkout.twig' %}
{% include 'layout/components/flash-messages.twig' %}
{% include 'layout/parts/breadcrumbs.twig' %}
<div id="body">
    {% block content %}{% endblock %}
</div>
{% include 'layout/components/base-modal.twig' %}
{% include 'layout/parts/scripts.twig' %}
{% include 'layout/parts/footer.twig' %}
</body>
</html>
