{# @var cartPriceRuleItem \inklabs\kommerce\EntityDTO\CartPriceRuleTagItemDTO #}
<div class="form-group col-sm-4">
    <label for="cartPriceRuleItem-tagId" class="control-label">Tag</label>
    <input type="text"
           id="cartPriceRuleItem-tagId"
           name="cartPriceRuleItem[tagId]"
           value=""
           class="form-control"/>
</div>
{% include '@admin/promotion/cart-price-rule/parts/item-input-fields.twig' %}
