{# @var product \inklabs\kommerce\EntityDTO\ProductDTO #}

{% set navigation = [
    {
        'name': 'Edit',
        'url' : routeUrl('admin.product.edit', {'productId': product.id.hex})
    },
    {
        'name': 'Images',
        'url' : routeUrl('admin.product.images', {'productId': product.id.hex})
    },
    {
        'name': 'Tags',
        'url' : routeUrl('admin.product.tags', {'productId': product.id.hex})
    },
    {
        'name': 'Options',
        'url' : routeUrl('admin.product.options', {'productId': product.id.hex})
    },
    {
        'name': 'Quantity Discounts',
        'url' : routeUrl('admin.product.quantity-discounts', {'productId': product.id.hex})
    }
] %}

<div class="row">
    <div class="col-sm-12">
        {% include '@theme/helper/tab-navigation.twig' with {'navigation': navigation} %}
    </div>
</div>
