{% if products is not empty %}
    <div class="row">
        <div class="small-12 columns">
            <hr />
            <h2 class="text-center">{% block title %}You Might Also Like{% endblock %}</h2>
            {% if size == 'small' %}
                {% embed "helper/product_grid_small.twig" with {'products': products } only %}
                {% endembed %}
            {% else %}
                {% embed "helper/product_grid.twig" with {'products': products } only %}
                {% endembed %}
            {% endif %}
        </div>
    </div>
{% endif %}
