{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}Forgot Password{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Check your e-mail.</h2>
                <p>
                    If the e-mail address you entered is associated with a customer account in our records, you will
                    receive an e-mail from us with instructions for resetting your password. If you don't receive this
                    e-mail, please check your junk mail folder or contact the administrator for further assistance.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
