{# @var attribute \inklabs\kommerce\EntityDTO\AttributeDTO #}
{# @var promotionTypes array #}
{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}New Attribute{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>New Attribute</h3>
                <form action="{{ routeUrl('admin.attribute.new.post') }}"
                      method="post"
                      class="form-horizontal"
                      role="form">
                    <fieldset>
                        {{ form.csrf() }}
                        <div class="well">
                            {% include '@admin/attribute/parts/attribute-intput-fields.twig' %}
                        </div>

                        <div class="well">
                            <button type="submit" class="button">
                                <i class="fa fa-check-circle"></i> Create
                            </button>
                            <a href="{{ routeUrl('admin.attribute') }}" class="button secondary">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
