{% extends '@theme/layout/base.twig' %}

{% block pageTitle %}Welcome{% endblock %}

{% block content %}
    {% include '@theme/helper/sitelinks-search.twig' only %}

    <div class="row column">
        <h1>Welcome</h1>
        {% embed '@theme/helper/recommended-products.twig' with {'products': recommendedProducts } only %}
            {% block title %}Recommended for you{% endblock %}
        {% endembed %}
    </div>
{% endblock %}
