{% extends '@theme/layout/base.twig' %}

{% block pageTitle %}Welcome{% endblock %}

{% block content %}
    {% include '@theme/helper/sitelinks-search.twig' only %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Welcome</h1>

                {% embed '@theme/helper/recommended-products.twig' with {'products': recommendedProducts } only %}
                    {% block title %}Recommended for you{% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
{% endblock %}
