{# @var products \inklabs\kommerce\EntityDTO\ProductDTO[] #}
{# @var pagination \inklabs\kommerce\EntityDTO\PaginationDTO #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Settings{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Sales Tax Settings</h1>
                <p>
                    Tax rules have the following precedence order.<br>
                    <span class="badge">1</span> Zipcode<br>
                    <span class="badge">2</span> Zipcode Range<br>
                    <span class="badge">3</span> State
                </p>

                <div class="well well-sm">
                    <h2>Zipcode Rates</h2>
                    TODO

                    <hr />
                    <h2>Zipcode Range Rates</h2>
                    TODO

                    <hr />
                    <h2>State Rates</h2>
                    TODO
                </div>
            </div>
        </div>
    </div>
{% endblock %}
