{# @var configurations array #}

{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}Shipping Configuration{% endblock %}

{% block content %}
    <div class="container">
        {% include '@admin/settings/store/parts/header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                <h3>EasyPost</h3>
                {% include '@admin/settings/store/parts/configuration-input-form.twig' with {
                    'configurations': configurations
                } %}
            </div>
        </div>
    </div>
{% endblock %}
