{# @var tag \inklabs\kommerce\EntityDTO\TagDTO #}
{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}New Tag{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>New Tag</h3>
                <form action="{{ routeUrl('admin.tag.new.post') }}"
                      method="post"
                      class="form-horizontal"
                      role="form">
                    <fieldset>
                        {{ form.csrf() }}
                        <div class="well">
                            {% include '@admin/tag/parts/tag-input-fields.twig' %}
                        </div>

                        <div class="well">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-check-circle"></i> Create
                            </button>
                            <a href="{{ routeUrl('admin.tag') }}" class="btn btn-default">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
