{# @var tag \inklabs\kommerce\EntityDTO\TagDTO #}
{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}Tag Options - {{ tag.name }}{% endblock %}

{% block content %}
    <div class="container">

        {% include '@admin/tag/parts/header.twig' %}

        <div class="row">
            <div class="col-sm-12">
                {% include '@admin/tag/parts/option-list.twig' with {'options': tag.options, 'tag': tag} only %}

                <h4>Add Option:</h4>
                <form action="{{ routeUrl('admin.tag.add-option') }}"
                      method="post">
                    {{ form.csrf() }}
                    {{ form.hidden('tagId', tag.id.hex) }}

                    <div class="input-group col-sm-4">
                        <input type="text"
                               name="optionId"
                               value=""
                               class="form-control typeahead"/>

                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-plus"></i> Add</button>
                        </span>
                    </div>
                </form>

                <hr>

                {% include '@admin/tag/parts/text-option-list.twig' with {'textOptions': tag.textOptions} only %}
            </div>
        </div>
    </div>
{% endblock %}
