{# @var product \inklabs\kommerce\EntityDTO\ProductDTO #}
{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}New Product{% endblock %}

{% block content %}
    <div class="row column">
        <h3>New Product</h3>
        <form action="{{ routeUrl('admin.product.new.post') }}"
                method="post"
                role="form">
            <fieldset>
                {{ form.csrf() }}
                <div class="callout">
                    {% include '@admin/product/parts/product-intput-fields.twig' %}
                </div>

                <div class="callout">
                    <button type="submit" class="button">
                        <i class="fa fa-check-circle"></i> Create
                    </button>
                    <a href="{{ routeUrl('admin.product') }}" class="button alert">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
