{# @var product \inklabs\kommerce\EntityDTO\ProductDTO #}
{% extends '@admin/layout/base.twig' %}

{% block pageTitle %}Product Options - {{ product.name }}{% endblock %}

{% block content %}

    {% include '@admin/product/parts/header.twig' %}

    <div class="row column">
            {% include '@admin/product/parts/option-list.twig' with {'optionProducts': product.optionProducts} only %}

            <hr />
            <h2>Tag Options:</h2>

            {% include '@admin/tag/parts/option-list.twig' with {'options': product.options} only %}
            {% include '@admin/tag/parts/text-option-list.twig' with {'textOptions': product.textOptions} only %}
    </div>
{% endblock %}
