<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% if pageDescription is not empty %}
    <meta name="description" content="{{ pageDescription }}">
{% endif %}
<title>{% if pageTitle is empty %}Zen Kommerce{% else %}{{ pageTitle }} - Zen Kommerce{% endif %}</title>
<link rel="icon" href="/favicon.ico" />
<link rel="shortcut icon" href="/favicon.ico" />
{% if pageCanonicalUrl is not empty %}
    <link rel="canonical" href="{{ pageCanonicalUrl }}" />
{% endif %}
<link rel="stylesheet" href="{{ scssUrl('bootstrap', 'store', 'main.scss', 'compact') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
