{# @var options \inklabs\kommerce\EntityDTO\OptionDTO[] #}
{# @var pagination \inklabs\kommerce\EntityDTO\PaginationDTO #}
{# @var queryString string #}
{% extends '@theme/layout/base-admin.twig' %}

{% block pageTitle %}Options{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href="{{ routeUrl('admin.option.new') }}"
                       class="btn btn-success btn-xs">
                        <i class="fa fa-plus-circle"></i> New Option
                    </a>
                </div>

                <h1>Options</h1>
                <form action="{{ routeUrl('admin.option') }}"
                      method="get"
                      class="form-search">
                    {% include '@theme/helper/search-bar.twig' with {'placeholder': 'Search Name/Email', 'queryString': queryString} only %}
                </form>

                {{ paginate.detailed(pagination) }}
                {% include '@theme/admin/option/parts/option-list.twig' with {'options': options} only %}
                {{ paginate.detailed(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
