{# @var products \inklabs\kommerce\EntityDTO\ProductDTO[] #}
{# @var pagination \inklabs\kommerce\EntityDTO\PaginationDTO #}
{% extends 'layout/base-admin.twig' %}

{% block pageTitle %}Cart Price Rules{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Cart Price Rules</h1>

                {{ paginate.detailed(pagination) }}

                <h2>TODO</h2>

                {{ paginate.detailed(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
