{# @var order \inklabs\kommerce\EntityDTO\OrderDTO #}
{% extends "layout/base.twig" %}

{% block pageTitle %}Order #{{ order.referenceNumber }}{% endblock %}

{% set breadcrumbs = {
    'Your Account': 'user/account',
    'Order Details': 'user/view-order/' ~ order.id.getHex()
} %}

{% block content %}
    <div class="container">
        {% embed "helper/order_details.twig" with {'order': order} only %}{% endembed %}
    </div>
{% endblock %}
