{# @var order \inklabs\kommerce\EntityDTO\OrderDTO #}
{% extends "layout/base.twig" %}

{% block pageTitle %}Order #{{ order.referenceNumber }}{% endblock %}

{% set breadcrumbs = {
    'Your Account': routeUrl('user.account'),
    'Order Details': orderUrl(order)
} %}

{% block content %}
    <div class="container">
        {% embed "helper/order_details.twig" with {'order': order} only %}{% endembed %}
    </div>
{% endblock %}
