{# @var attributeValue \inklabs\kommerce\EntityDTO\AttributeDTO #}

{% set navigation = [
    {
        'name': 'Edit',
        'url' : routeUrl('admin.attribute.attribute-value.edit', {'attributeValueId': attributeValue.id.hex})
    },
    {
        'name': 'Product Attributes <span class="text-muted">(' ~ attributeValue.productAttributes|length ~ ')</span>',
        'url' : routeUrl('admin.attribute.attribute-value.product-attributes', {'attributeValueId': attributeValue.id.hex})
    }
] %}

<div class="row">
    <div class="col-sm-12">
        {% include '@theme/helper/tab-navigation.twig' with {'navigation': navigation} %}
    </div>
</div>
