{% for product in products %}
    <div class="product-container-small {% if lg_slim %}col-md-12{% endif %} col-sm-3 col-xs-6">
        <a href="{{ productUrl(product) }}">
            <img src="{{ productImageUrl(product) }}">
        </a>
        <a href="{{ productUrl(product) }}">
            <div class="product-name">{{ product.name }}</div>
        </a>

        {% include '@store/helper/rating-stars.twig' with {'rating': product.rating } only %}

        {% if not product.isInStock %}
            <div class="availability">
                <span class="out-of-stock">Out of Stock</span>
            </div>
        {% elseif product.isPriceVisible %}
            {% include '@store/helper/price.twig' with {'price': product.price } only %}
        {% endif %}

        <div class="clearfix"></div>
    </div>
{% endfor %}
