{# @var price \inklabs\kommerce\EntityDTO\PriceDTO #}
{% if price.quantityPrice < price.origQuantityPrice %}
    {% set promotionNames = [] %}

    {% for catalogPromotion in price.catalogPromotions %}
        {% set promotionNames = promotionNames | merge([catalogPromotion.name])  %}
    {% endfor %}

    {#
        foreach ($price->productQuantityDiscounts as $productQuantityDiscount) {
            $promotionNames[] = $productQuantityDiscount->name;
        }
    #}
    <span class="price-strike" data-toggle="tooltip" title="{{ promotionNames | join(', ') }}">
        {{ price.origQuantityPrice | displayPrice }}
    </span>
{% endif %}
<span class="price">{{ price.quantityPrice | displayPrice }}</span>
