{# @var price \inklabs\kommerce\EntityDTO\PriceDTO #}
{% if price.quantityPrice < price.origQuantityPrice %}
    {# TODO:
        {% set promotionNames = [] %}
        <?php
            $promotionNames = [];
            foreach ($price->catalogPromotions as $catalogPromotion) {
                $promotionNames[] = $catalogPromotion->name;
            }

            foreach ($price->productQuantityDiscounts as $productQuantityDiscount) {
                $promotionNames[] = $productQuantityDiscount->name;
            }
        ?>
        <span class="price-strike" data-toggle="tooltip" title="<?=HTML::chars(implode(', ', $promotionNames))?>"><?=Kommerce::display_price($price->origQuantityPrice)?></span>
        <span> </span>
    #}
{% endif %}
<span class="price">{{ price.quantityPrice | displayPrice }}</span>
