<div class="tabs-panel" id="lk-related-products-tab">
    <div class="row medium-up-3 large-up-5" data-equalizer>

        {% for product in products %}
            <div class="column">
                <div data-equalizer-watch>
                    {% if product.defaultImage is empty %}
                        <img class="thumbnail" src="http://placehold.it/350x200">
                    {% else %}
                        <img class="thumbnail" src="{{ product.defaultImage }}">
                    {% endif %}
                    <h5>
                        {{ product.name }}
                        <br>
                        <small>{{ product.price.quantityPrice | displayPrice }}</small>
                    </h5>
                    <p>{{ product.description }}</p>
                </div>
                <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
        {% endfor %}

    </div>
</div>