<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include 'layout/parts/head.twig' %}
</head>
<body>
{% include 'layout/parts/topbar.twig' %}
<br>
{% include 'layout/parts/breadcrumbs.twig' %}
{% block content %}{% endblock %}

{% include 'layout/parts/foot.twig' %}
{% include 'layout/parts/scripts.twig' %}

</body>
</html>
