<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'layout/parts/head.twig' %}
</head>
<body>
    {% include 'layout/parts/header.twig' %}
    {% include 'layout/parts/breadcrumbs.twig' %}
    <div id="body">
        {% block content %}{% endblock %}
    </div>
    {% include 'layout/parts/base_modal.twig' %}
    {% include 'layout/parts/footer.twig' %}
</body>
</html>
