{% if breadcrumbs is defined %}
    {% set currentUrl = currentUrl() %}
        <div class="row column">
            <ul class="breadcrumbs">
                {% for name, url in breadcrumbs %}
                    {% if currentUrl == url %}
                        <li>{{ name }}</li>
                    {% else %}
                        {% if url is empty %}
                            <li class="disabled">{{ name }}</li>
                        {% else %}
                            <li><a href="{{ url }}">{{ name }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
{% endif %}
