<footer class="zk-footer">
    <div class="row">
        <div class="column">
            <a href="{{ routeUrl('page.terms') }}">Terms of Use</a> |
            <a href="{{ routeUrl('page.privacy') }}">Privacy</a>
            {# TODO: SITE_COPY #}
        </div>
    </div>
</footer>