<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="zk-menu-checkout">
  <div class="top-bar-right">
    <ul class="menu">
        <li><a href="{{ routeUrl('user.login') }}">Sign In</a></li>
        <li><a href="{{ routeUrl('cart.get.show') }}"><i class="fa fa-shopping-cart"></i> Cart</a></li>
    </ul>
  </div>
</div>
