{# @var email string #}
{# @var captchaInlineSrc string #}

{% extends '@store/layout/base.twig' %}

{% block pageTitle %}Forgot Password{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Password Assistance</h2>
                <p>
                    Enter the e-mail associated with your account. We will send you a link where you can
                    create a new password.
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <form action="{{ routeUrl('user.forgot-password.post') }}"
                      method="post"
                      id="forgot-password"
                      class="form"
                      role="form">
                    {{ form.csrf() }}

                    <div class="form-group">
                        <label for="email" class="control-label">Email Address</label>
                        <input type="email"
                               id="email"
                               name="email"
                               value="{{ email }}"
                               class="form-control"
                               required=""
                               autofocus="">
                    </div>

                    <div class="form-group">
                        <h2>Type the characters you see in this image.</h2>
                        <div class="text-center">
                            <img src="{{ captchaInlineSrc }}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="c" class="control-label">Type characters</label>
                        <input type="text"
                               id="c"
                               name="c"
                               value=""
                               class="form-control"
                               required="">
                    </div>

                    <button type="submit" class="btn btn-success">Continue <i class="fa fa-arrow-circle-right"></i></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
