{# @var tags \inklabs\kommerce\EntityDTO\TagDTO[] #}
{# @var pagination \inklabs\kommerce\EntityDTO\PaginationDTO #}
{# @var queryString string #}
{% extends 'layout/base-admin.twig' %}

{% block pageTitle %}Tags{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href="{{ routeUrl('admin.tag.new') }}"
                       class="btn btn-success btn-xs">
                        <i class="fa fa-plus-circle"></i> New Tag
                    </a>
                </div>

                <h1>Tags</h1>
                <form action="{{ routeUrl('admin.tag') }}"
                      method="get"
                      class="form-search">
                    {% embed 'helper/search-bar.twig' with {'placeholder': 'Search Name', 'queryString': queryString} only %}{% endembed %}
                </form>

                {{ paginate.detailed(pagination) }}
                {% include 'admin/tag/parts/tag-list.twig' with {'tags': tags} only %}
                {{ paginate.detailed(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
