{# @var cart \inklabs\kommerce\EntityDTO\CartDTO #}

{% set class = '' ~ extraClass %}

{% if env.shippingType.isFlatRate %}
    <a href="{{ routeUrl('cart.estimate-tax') }}" class="zk-estimate-tax {{ class }}">
        {% if cart.shipmentRate.rate.amount is null %}
            Estimate Tax
        {% else %}
            Modify Zipcode
        {% endif %}
    </a>
{% else %}
    <a href="{{ routeUrl('cart.estimate-shipping') }}" class="zk-estimate-shipping {{ class }}">
        {% if cart.shipmentRate.rate.amount is null %}
            Estimate Shipping & Tax
        {% else %}
            Modify Shipping
        {% endif %}
    </a>
{% endif %}
