{# @var cart \inklabs\kommerce\EntityDTO\CartDTO #}

<div class="callout">
    <div id="cart-cta-box">
        <strong>
            Total ({{ cart.totalQuantity }} items):
            <span class="price-small">{{ cart.cartTotal.total | displayPrice }}</span>
        </strong>
        {% include '@store/helper/checkout-button.twig' only %}
    </div>

    {% if cart.shipmentRate.rate is not null %}
        {% include '@store/cart/parts/modify-shipping-button.twig' with {'extraClass': 'expanded'} %}
    {% endif %}

    <form action="{{ routeUrl('cart.apply-coupon') }}" method="post">
        {{ form.csrf() }}

        <div class="input-group">
            <input type="text" class="input-group-field" name="coupon_code" value="" placeholder="coupon code" />
            <span class="input-group-button">
                <button type="submit" class="button secondary" id="apply-coupon">Apply</button>
            </span>
        </div>
    </form>
</div>
