{# @var product \inklabs\kommerce\EntityDTO\ProductDTO #}

{% set navigation = [
    {
        'name': 'Edit',
        'url' : routeUrl('admin.product.edit', {'productId': product.id.hex})
    },
    {
        'name': 'Images <span class="text-muted">(' ~ product.images|length ~ ')</span>',
        'url' : routeUrl('admin.product.images', {'productId': product.id.hex})
    },
    {
        'name': 'Tags <span class="text-muted">(' ~ product.tags|length ~ ')</span>',
        'url' : routeUrl('admin.product.tags', {'productId': product.id.hex})
    },
    {
        'name': 'Options <span class="text-muted">(' ~ (product.options|length + product.textOptions|length) ~ ')</span>',
        'url' : routeUrl('admin.product.options', {'productId': product.id.hex})
    },
    {
        'name': 'Attributes <span class="text-muted">(' ~ product.productAttributes|length ~ ')</span>',
        'url' : routeUrl('admin.product.attributes', {'productId': product.id.hex})
    },
    {
        'name': 'Quantity Discounts <span class="text-muted">(' ~ product.productQuantityDiscounts|length ~ ')</span>',
        'url' : routeUrl('admin.product.quantity-discounts', {'productId': product.id.hex})
    }
] %}

<div class="row">
    <div class="col-sm-12">
        {% include '@admin/helper/tab-navigation.twig' with {'navigation': navigation} %}
    </div>
</div>
