{# @var cart \inklabs\kommerce\EntityDTO\CartDTO #}
{# @var recommendedProducts \inklabs\kommerce\EntityDTO\ProductDTO[] #}
{% extends '@store/layout/base.twig' %}

{% block pageTitle %}Shopping Cart{% endblock %}

{% block content %}

    <section class="zk-shopping-cart">
        {% if cart.cartItems is empty %}
            <article class="zk-empty-cart">
                {% include '@store/cart/parts/empty-cart.twig' %}
            </article>
        {% else %}
            <article class="zk-shopping-cart-listing">
                {% include '@store/cart/parts/cart-list.twig' with { 'cartItems': cart.cartItems } %}
                {% include '@store/cart/parts/totals.twig' %}
            </article>

            <article class="zk-shopping-cart-totals-block">
                {% include '@store/cart/parts/totals-block.twig' with { 'cart': cart } %}
            </article>
        {% endif %}

        <div class="zk-shopping-cart-recommended-products">
            {% include '@store/helper/recommended-products.twig' with {'products': recommendedProducts, 'size': 'small' } only %}
        </div>
    </section>

{% endblock %}
